@model IEnumerable<LearningManagementSystem.Models.Multiclass>


@{
    ViewBag.Title = "Index";
}
<style>


    body {
        color: white;
        margin-top: 20px;
        background-color: #091b1a;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<h1>Course You want To Teach</h1>
<table class="table">
    <tr>
        <td>
            CourseId
        </td>
        <td>
            Course Name
        </td>
        <td>
            CreditHours
        </td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Registraton.cours.Cid</td>
    <td>@item.Registraton.cours.Cname</td>
    <td>@item.Registraton.cours.CreditHours</td>

</tr>
    }
</table>

<div style="background-color:black;margin-top:10px; width:12%;padding:8px;margin-left:10px;text-align:center">
    <a>@Html.ActionLink("Back To main", "Index", "TeacherHomepage")</a>
</div>
