
@{
    ViewBag.Title = "Index";
}


<style>


    body {
        color: white;
        margin-top: 20px;
        background-color: #091b1a;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<div style="background-color:black;margin-top:10px; width:12%;padding:8px;margin-left:10px;text-align:center">

    <a>@Html.ActionLink("ViewCourses To Teach", "CourseToTeach", "TeacherHomepage")</a>
</div>


